{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "array-callback-return": ["error"],
    "comma-dangle": ["error", "never"],
    "eqeqeq": ["error"],
    "max-len": [0],
    "no-console": [0],
    "no-loop-func": ["error"],
    "no-multi-spaces": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-underscore-dangle": ["error", { "allow": ["_", "_GET", "_POST", "_ID", "_ERROR", "_USER", "_HEADERS"] }],
    "no-unused-expressions": [0, { "allowTernary": true }],
    "no-new-wrappers": ["error"],
    "no-nested-ternary": [0],
    "no-param-reassign": [0],
    "no-plusplus": [0],
    "no-var": ["error"],
    "object-curly-spacing": ["error", "always", {"arraysInObjects": true}],
    "prefer-const": ["error"],
    "prefer-template": ["error"],
    "no-duplicate-imports": ["error"],
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "VariableDeclarator": 1,
      "outerIIFEBody": 1,
      // MemberExpression: null,
      "FunctionDeclaration": {
        "parameters": 1,
        "body": 1
      },
      "FunctionExpression": {
        "parameters": 1,
        "body": 1
      },
      "CallExpression": {
        "arguments": 1
      },
      "ArrayExpression": 1,
      "ObjectExpression": 1,
      "ImportDeclaration": 1,
      "flatTernaryExpressions": false,
      "ignoredNodes": ["JSXElement", "JSXElement *"]
    }],
    "newline-per-chained-call": [0],
    "spaced-comment": ["error", "always"]
  }
}
